@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@plugin "daisyui" {
  themes: all;
}

:root {
  @apply select-none font-inter scrollbar-hide;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-space-mono: "Space Mono", monospace;
}
